@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.mobileScreen {
  background-color: #ecf3ff;
  width: 100%;
  height: 100vh;
  overflow: auto;
  
  font-family: "Varela Round", sans-serif;
    font-weight: 400;
    background-image: url("https://media.istockphoto.com/id/1192362959/vector/blueprint-paper-hd-background.jpg?s=612x612&w=0&k=20&c=BNzuftJPJ77C1Gmp93skQJuYdh9G-hTAfSrmeRQcIig=");
}
.titleContainer{
  display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  // border-radius: 20px 20px 0 0;
  box-shadow: 0 20px 80px 0 rgba(#000000, 5%);

  .title {
    font-weight: 600;
    color: #051125;
  }
  .user {
    $wh: 40px;
    width: $wh;
    height: $wh;
    border-radius: 50%;
    overflow: hidden;
  }
}
footer {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  // border-radius: 20px 20px 0 0;
  box-shadow: -10px 20px 80px 0 rgba(#000000, 5%);

  .filterBtn {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 8px 16px;
    width: calc(50% - 4px);
    border: 1px solid #eee;
    margin: 4px;
    cursor: pointer;
    
    svg {
      width: 14px;
      vertical-align: middle;
    }
  }
  
}
.searchBar {
  padding: 20px;
  background-color: #ecf3ff;
  position: sticky;
  top: 80px;
  left: 0;
  z-index: 10001;
  
  .formControl {
    font-size: 14px;
    color: #051125;
    padding: 16px 20px;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 30px;
    
    &:focus {
      outline: none;
    }
  }
}
section {
  padding: 20px;

  .titleBar {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: #fff;
      font-size: 20px;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      svg {
        width: 16px;
        stroke: #888888;
        cursor: pointer;

        &.active,
        &:hover {
          stroke: #051125;
        }
      }
    }
  }
  h1,
  h2,
  h3 {
    font-weight: 600;
    margin: 0;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 14px;
  }
}
.blog {
  background-color: #ecf3ff;

  .blogBox {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 16px;
    border-radius: 16px;
    .blogHeader {
    }
    .blogBody {
      margin-bottom: 20px;
      .imgContainer {
        height: 200px;
        margin: 20px 0;

        img {
          border-radius: 12px;
          box-shadow: inset 0px 17px 100px rgba(0, 0, 0, 0.1);
        }
      }
      .content {
        p {
          font-size: 14px;
          text-align: justify;
          color: #888888;
        }
      }
      .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .paginationBtn {
          font-size: 12px;
          display: flex;
          align-items: center;
          gap: 6px;
          padding: 8px 16px;
          margin-top: 24px;
          border: 1px solid #eeeeee;
          border-radius: 24px;
          cursor: pointer;

          svg {
            width: 12px;
          }

          &:focus,
          &:active {
            color: #0729df;
          }
          &.disabled {
            color: #888888;
            cursor: not-allowed;

            &:focus,
            &:active {
              color: #888888;
            }
          }
        }
      }
    }
    .blogFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footerContent {
        font-size: 10px;
        font-weight: 500;
        color: #888888;
        display: flex;
        align-items: center;
        gap: 4px;

        svg {
          width: 12px;
        }
      }
    }
  }
}
.notification {
  .notificationBox {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 20px 40px #eeeeee;
    position: relative;

    .notificationContent {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;

        .icon {
          $wh: 30px;
          width: $wh;
          height: $wh;
          color: #ffffff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: start;

          svg {
            width: 16px;
          }
          &.success {
            background-color: #0bc673;
          }
          &.warning {
            background-color: #f0a830;
          }
          &.danger {
            background-color: #ff7268;
          }
        }
      .textContent {       
        span {
          display: block;
        }
        .notificationTitle {
          font-size: 13px;
          font-weight: 600;
          color: #051125;
          line-height: 1.2;
          margin-bottom: 4px;
        }
        .timeStamp {
          font-size: 12px;
          color: #888888;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 6px;

          svg {
            width: 14px;
          }
        }
        }
      }
      .closeIcon {
        position: absolute;
        top: 8px;
        right: 12px;
        cursor: pointer;
        svg {
          width: 16px;
          stroke: #888888;
        }
      }
    }
  }


.info {
  .infoContent {
    background-color: #fff;
    border-radius: 8px;
    border-radius: 16px;
    .infoBox {
      padding: 16px 20px;
      margin-bottom: 8px;
      border-bottom: 1px solid #eee;

      span {
        display: block;

        &.label {
          font-size: 12px;
          color: #888888;
          margin-bottom: 4px;
        }
        &.value {
          font-size: 14px;
          font-weight: 600;
          color: #051125;

          svg {
            width: 14px;
            stroke: #0bc673;
            vertical-align: middle;
            margin-right: 3px;
          }
        }
      }
    }
  }
}

// Platters
.platters {
  .platterBox {
    background-color: #ffffff;
    margin-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(#000000, 5%);
    position: relative;
    cursor: pointer;

    .platterHeader {
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #eeeeee;

      .titleContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        width: 100%;
        .iconContainer {
          $wh: 100px;
          width: $wh;
          // height: $wh;
          border-radius: 10px;
          // border-radius: 50%;
          overflow: hidden;
        }
        .textContent {
          span {
            display: block;

            &.title {
              font-size: 14px;
              font-weight: 600;
              color: #051125;
            }
            &.shortDescription {
              font-size: 11px;
            }
          }
        }
      }
      svg {
        width: 14px;
        stroke: #888888;

        &.added {
          stroke: #ff7268;
        }
      }
    }
    .platterBody {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;

      .platterInfoBox {
        width: 50%;
        margin-bottom: 16px;
        span {
          display: block;

          &.label {
            font-size: 13px;
            color: #888888;
          }
          &.value {
            font-size: 14px;
            font-weight: 600;
            color: #051125;

            &.success {
              color: #0bc673;
            }
            &.danger {
              color: #ff7268;
            }
          }
        }
      }
    }
  }
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.box-wrap {
  display: flex;

}
.box1 {
    flex: 1;
  height: 100px;
  background: #FFF;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
border-radius: 12px;}

 .box1 .fa{color: #FFF;
  cursor: pointer;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;}
  .box1 .fa-file-text{background: #e04c1e;}
  .box1 .fa-graduation-cap{background:#7759c2;}
  .box1 .fa-ambulance{background:#d34e7b;}
  .box1 .fa-bed{background:#ffbd05;}
  .box1 .fa-laptop{background:#05b9d1;}
  .box1 .fa-briefcase{background:#48ab4e;}
  .box1 .fa + span{margin-top: 10px;font-size: 12px;
  font-weight: 600;
  color: #42526e;}
  .box-wrap:last-child{margin-bottom: 60px;}
::-webkit-scrollbar {
width: 8px;
height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}


.grid{
  display: grid;
  gap: 12px;
grid-template-columns: repeat(3, 1fr);
}
.grid1{
  display: grid;
  gap: 12px;
grid-template-columns: repeat(2, 1fr);
margin-top: 20px;
width: 100%;
}

.Student-Date {
  border-radius: 10px;
  background:linear-gradient(178deg, #665df0 0%, #9b95f3 100%);
  padding: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 25px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}
.Student-Date_img img{
  height: 160px;
}

.header .col-md-12{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.fa-whatsapp{
  width:60px;
height:60px;
bottom:40px;
right:40px;
background-color:#25d366;
color:#FFF;
border-radius:50px;
text-align:center;
font-size:30px;
box-shadow: 2px 2px 3px #999;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.Student-Date::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 30%;
  background: #f6851d;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 25%, 50% 100%, 0 25%);
}

.Student-Date::before {
  position: absolute;
  content: "";
  background: url(https://html.narzotech.com/regfood/images/chefs_shapes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 85px;
  height: 150px;
  bottom: 0px;
  left: -15px;
  transform: rotate(45deg);
  opacity: .04;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.Student-Date_img {
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
  background: #f6851d;
  position: relative;
  z-index: 1;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.Student-Date_img img {
  border-radius: 50%;
  transition: all linear .3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.Student-Date_text h4 {
  text-transform: capitalize;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  display: block;
  text-align: center;
  margin: 30px 0px 5px 0px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.Student-Date_text p {
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}

.Student{
width: 100%;
text-align: center;
}
.Student .icon{
width: 100%;
position: relative;
z-index: 1;
overflow: hidden;
background: -moz-linear-gradient(272deg, #665df0 0%, #9b95f3 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #665df0), color-stop(100%, #9b95f3)); /* safari4+,chrome */
background: -webkit-linear-gradient(272deg, #665df0 0%, #9b95f3 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(272deg, #665df0 0%, #9b95f3 100%); /* opera 11.10+ */
background: -ms-linear-gradient(272deg, #665df0 0%, #9b95f3 100%); /* ie10+ */
background: linear-gradient(178deg, #665df0 0%, #9b95f3 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#665df0', endColorstr='#9b95f3',GradientType=0 ); /* ie6-9 */
padding: 20px;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
flex-direction: column;
gap:10px;
box-shadow: 0 11px 20px rgb(123 149 162 / 15%);
  border-bottom: 5px solid #0e334d;
  border-radius: 8px 8px 8px 40px;

}
.Student .icon img{
  width: 40px;
  height: 40px;
}

.Student .icon:after{
content: '';
width: 110px;
height: 110px;
position: absolute;
left: auto;
bottom: -50%;
background-color: #fff;
z-index: -1;
-webkit-border-radius: 50%;
border-radius: 50%;
opacity: 0.05;
-webkit-transition: 0.3s all ease-in;
transition: 0.3s all ease-in;
}
.Student:hover .icon:after{
width: 110px !important;
bottom:0;
left: auto !important;
}
.Student .content h4{
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
}
.wrapper{
 display: flex;
 justify-content: center;
 align-items: center;
}
.user-card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #fff;
border-radius: 10px;
padding: 20px;
width: 100%;
position: relative;
overflow: hidden;
box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
  background-image: url(https://st.depositphotos.com/1021124/56549/i/450/depositphotos_565495344-stock-photo-abstract-background-space-your-message.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.user-card:before {
 content: '';
 position: absolute;
 height: 300%;
 width: 173px;
 background:linear-gradient(178deg, #665df0 0%, #9b95f3 100%);
 top: -60px;
 left: -125px;
 z-index: 0;
 transform: rotate(17deg);
}

.user-card-img {
 display: flex;
 justify-content: center;
 align-items: center;   
 z-index: 3;
}

.user-card-img img {
 width: 100px;
 height: 100px;
 object-fit: cover;
   border-radius: 50%;
}

.user-card-info {
 text-align: center;
}

.user-card-info h2 {
 font-size: 24px;
 margin: 0;
 margin-bottom: 10px;
 font-weight: 600;
}

.user-card-info p {
 font-size: 18px;
 margin-bottom: 2px;
 font-weight: 700;
 
}
.user-card-info p span {
  display: block;
font-weight: 500;
  font-size: 22px;
}
@media only screen and (min-width: 768px) {
 .user-card {
   flex-direction: row;
   align-items: flex-start;
 }   
 .user-card-img {
   margin-right: 20px;
   margin-bottom: 0;
 }

 .user-card-info {
   text-align: left;
 }
}

@media (max-width: 767px){
 
 .user-card:before {
    width: 300%;
    height: 150px;
    transform: rotate(0);
 }
 .user-card-info h2 {
    margin-top: 25px;
    font-size: 22px;
 }
 .user-card-info p span {
    margin-bottom:5px;
    font-size: 16px;
 }
}

.navigation {
position: fixed;
top: 15px;
right: 20px;
width: 100px;
height: 50px;
display: flex;
justify-content: space-between;
border-radius: 5px;
background: #fff;
overflow: hidden;
transition: height 0.5s, width 0.5s;
transition-delay: 0s, 0.75s;
gap: 35px;
}

.navigation .user-box {
position: relative;
/* width: 60px; */
height: 50px;
display: flex;
align-items: center;
justify-items: center;
gap: 15px;
overflow: hidden;
transition: 0.5s;
transition-delay: 0.5s;
}

.navigation .user-box .username {
font-size: 1.2rem;
white-space: nowrap;
color: #000;
margin: 0;
}

.navigation .user-box .image-box {
position: relative;
min-width: 50px;
height: 50px;
background: #fff;
border-radius: 50%;
overflow: hidden;
border: 4px solid #7f77f1;

}

.navigation .user-box .image-box img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.navigation .menu-toggle {
position: relative;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.navigation .menu-toggle::before {
content: "";
position: absolute;
width: 32px;
height: 2px;
background: #6c757d;
transform: translateY(-10px);
box-shadow: 0 10px #6c757d;
transition: 0.5s;
}

.navigation .menu-toggle::after {
content: "";
position: absolute;
width: 32px;
height: 2px;
background: #6c757d;
transform: translateY(10px);
transition: 0.5s;
}

.menu {
position: absolute;
width: 100%;
height: calc(100% - 65px);
margin: 65px 0 0 0;
padding: 20px;
border: 1px solid #6f6f6f;
box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
border-radius: 12px;
}

.menu li {
list-style: none;
}

.menu li a {
display: flex;
align-items: center;
gap: 10px;
margin-bottom: 10px;
font-size: 18px;
text-decoration: none;
color: #000;
}

.menu li a ion-icon {
font-size: 1.5rem;
}

.menu li a:hover {
color: var(--purple);
}

.navigation.active .menu-toggle::before {
transform: translateY(0px) rotate(45deg);
box-shadow: none;
}

.navigation.active .menu-toggle::after {
transform: translateY(0px) rotate(-45deg);
}

.navigation.active {
width: 250px;
height: 300px;
transition: width 0.5s, height 0.5s;
transition-delay: 0s, 0.75s;
z-index: 9;
}

.navigation.active .user-box {
width: calc(100% - 60px);
transition-delay: 0s;
}

.student-profile .card {
border-radius: 10px;
box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
//   background-image: url(https://st.depositphotos.com/1021124/56549/i/450/depositphotos_565495344-stock-photo-abstract-background-space-your-message.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
  z-index: 1;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  position: relative;
}

.student-profile .card .card-header .profile_img {
width: 150px;
height: 150px;
object-fit: cover;
margin: 10px auto;
border: 10px solid #ccc;
border-radius: 50%;
}

.student-profile .card h3 {
font-size: 20px;
font-weight: 700;
}

.student-profile .card p {
font-size: 16px;
color: #000;
}

.student-profile .table th,
.student-profile .table td {
font-size: 14px;
padding: 5px 10px;
color: #000;
}