@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.mobileScreen {
  background-color: #ecf3ff;
  width: 100%;
  height: 100vh;
  overflow: auto;
  
  font-family: "Varela Round", sans-serif;
    font-weight: 400;
    background-image: url("https://media.istockphoto.com/id/1192362959/vector/blueprint-paper-hd-background.jpg?s=612x612&w=0&k=20&c=BNzuftJPJ77C1Gmp93skQJuYdh9G-hTAfSrmeRQcIig=");
}
.titleContainer{
  display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  // border-radius: 20px 20px 0 0;
  box-shadow: 0 20px 80px 0 rgba(#000000, 5%);

  .title {
    font-weight: 600;
    color: #051125;
  }
  .user {
    $wh: 40px;
    width: $wh;
    height: $wh;
    border-radius: 50%;
    overflow: hidden;
  }
}
footer {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  // border-radius: 20px 20px 0 0;
  box-shadow: -10px 20px 80px 0 rgba(#000000, 5%);

  .filterBtn {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 8px 16px;
    width: calc(50% - 4px);
    border: 1px solid #eee;
    margin: 4px;
    cursor: pointer;
    
    svg {
      width: 14px;
      vertical-align: middle;
    }
  }
  
}
.searchBar {
  padding: 20px;
  background-color: #ecf3ff;
  position: sticky;
  top: 80px;
  left: 0;
  z-index: 10001;
  
  .formControl {
    font-size: 14px;
    color: #051125;
    padding: 16px 20px;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 30px;
    
    &:focus {
      outline: none;
    }
  }
}
section {
  padding: 20px;

  .titleBar {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: #fff;
      font-size: 20px;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      svg {
        width: 16px;
        stroke: #888888;
        cursor: pointer;

        &.active,
        &:hover {
          stroke: #051125;
        }
      }
    }
  }
  h1,
  h2,
  h3 {
    font-weight: 600;
    margin: 0;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 14px;
  }
}
.blog {
  background-color: #ecf3ff;

  .blogBox {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 16px;
    border-radius: 16px;
    .blogHeader {
    }
    .blogBody {
      margin-bottom: 20px;
      .imgContainer {
        height: 200px;
        margin: 20px 0;

        img {
          border-radius: 12px;
          box-shadow: inset 0px 17px 100px rgba(0, 0, 0, 0.1);
        }
      }
      .content {
        p {
          font-size: 14px;
          text-align: justify;
          color: #888888;
        }
      }
      .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .paginationBtn {
          font-size: 12px;
          display: flex;
          align-items: center;
          gap: 6px;
          padding: 8px 16px;
          margin-top: 24px;
          border: 1px solid #eeeeee;
          border-radius: 24px;
          cursor: pointer;

          svg {
            width: 12px;
          }

          &:focus,
          &:active {
            color: #0729df;
          }
          &.disabled {
            color: #888888;
            cursor: not-allowed;

            &:focus,
            &:active {
              color: #888888;
            }
          }
        }
      }
    }
    .blogFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footerContent {
        font-size: 10px;
        font-weight: 500;
        color: #888888;
        display: flex;
        align-items: center;
        gap: 4px;

        svg {
          width: 12px;
        }
      }
    }
  }
}
.notification {
  .notificationBox {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 20px 40px #eeeeee;
    position: relative;

    .notificationContent {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;

        .icon {
          $wh: 30px;
          width: $wh;
          height: $wh;
          color: #ffffff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: start;

          svg {
            width: 16px;
          }
          &.success {
            background-color: #0bc673;
          }
          &.warning {
            background-color: #f0a830;
          }
          &.danger {
            background-color: #ff7268;
          }
        }
      .textContent {       
        span {
          display: block;
        }
        .notificationTitle {
          font-size: 13px;
          font-weight: 600;
          color: #051125;
          line-height: 1.2;
          margin-bottom: 4px;
        }
        .timeStamp {
          font-size: 12px;
          color: #888888;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 6px;

          svg {
            width: 14px;
          }
        }
        }
      }
      .closeIcon {
        position: absolute;
        top: 8px;
        right: 12px;
        cursor: pointer;
        svg {
          width: 16px;
          stroke: #888888;
        }
      }
    }
  }


.info {
  .infoContent {
    background-color: #fff;
    border-radius: 8px;
    border-radius: 16px;
    .infoBox {
      padding: 16px 20px;
      margin-bottom: 8px;
      border-bottom: 1px solid #eee;

      span {
        display: block;

        &.label {
          font-size: 12px;
          color: #888888;
          margin-bottom: 4px;
        }
        &.value {
          font-size: 14px;
          font-weight: 600;
          color: #051125;

          svg {
            width: 14px;
            stroke: #0bc673;
            vertical-align: middle;
            margin-right: 3px;
          }
        }
      }
    }
  }
}

// Platters
.platters {
  .platterBox {
    background-color: #ffffff;
    margin-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(#000000, 5%);
    position: relative;
    cursor: pointer;

    .platterHeader {
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #eeeeee;

      .titleContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        width: 100%;
        .iconContainer {
          $wh: 100px;
          width: $wh;
          // height: $wh;
          border-radius: 10px;
          // border-radius: 50%;
          overflow: hidden;
        }
        .textContent {
          span {
            display: block;

            &.title {
              font-size: 14px;
              font-weight: 600;
              color: #051125;
            }
            &.shortDescription {
              font-size: 11px;
            }
          }
        }
      }
      svg {
        width: 14px;
        stroke: #888888;

        &.added {
          stroke: #ff7268;
        }
      }
    }
    .platterBody {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;

      .platterInfoBox {
        width: 50%;
        margin-bottom: 16px;
        span {
          display: block;

          &.label {
            font-size: 13px;
            color: #888888;
          }
          &.value {
            font-size: 14px;
            font-weight: 600;
            color: #051125;

            &.success {
              color: #0bc673;
            }
            &.danger {
              color: #ff7268;
            }
          }
        }
      }
    }
  }
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.box-wrap {
  display: flex;

}
.box1 {
    flex: 1;
  height: 100px;
  background: #FFF;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
border-radius: 12px;}

 .box1 .fa{color: #FFF;
  cursor: pointer;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;}
  .box1 .fa-file-text{background: #e04c1e;}
  .box1 .fa-graduation-cap{background:#7759c2;}
  .box1 .fa-ambulance{background:#d34e7b;}
  .box1 .fa-bed{background:#ffbd05;}
  .box1 .fa-laptop{background:#05b9d1;}
  .box1 .fa-briefcase{background:#48ab4e;}
  .box1 .fa + span{margin-top: 10px;font-size: 12px;
  font-weight: 600;
  color: #42526e;}
  .box-wrap:last-child{margin-bottom: 60px;}
::-webkit-scrollbar {
width: 8px;
height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}
